In [1]:
#import packages
import numpy as np
import pandas as pd

# Clean the Origional Data

In [2]:
#read the data
df = pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2022/2022-01-11/colony.csv")

In [3]:
#Remove values for the United States as a whole, as it causes double counting when ploting the line chart
df = df[df["state"]!="United States"]

In [4]:
#Treat missing values for Colony renovated
#df[df["colony_reno"].isna()==True]
df["colony_added"].fillna(0, inplace=True)
df["colony_reno"].fillna(0, inplace=True)
df["colony_lost"].fillna(0, inplace=True)
df["gross_gain"] = df["colony_added"]+df["colony_reno"]
df["net_gain"] = df["gross_gain"]-df["colony_lost"]

In [5]:
df.to_csv("colonyv2.csv")

# Clean the Data for a Choropleth Map

In [6]:
#get a list of states used in the dataset
states = df["state"].unique()

In [7]:
#create additional features
df["net_gain"] = (df["colony_reno"]+df["colony_added"])-df["colony_lost"]

In [8]:
#group by operation to summeries bee columns
dfBees = df.groupby(["state"]).mean()
dfBees.drop(columns=["year"], inplace=True)

In [43]:
#format columns as correct data types
dfFinal["state"] = dfFinal["state"].astype("string")
#dfFinal["state"]

#dfFinal["colony_added"] = dfFinal["colony_added"].round(2)

In [ ]:
dfBees

In [9]:
# Join with Longitude and Latitude loactions
dfMap = pd.read_json("https://gist.githubusercontent.com/meiqimichelle/7727723/raw/0109432d22f28fd1a669a3fd113e41c4193dbb5d/USstates_avg_latLong")
dfMap = dfMap .set_index('state')

In [10]:
#get a list of the states missing from the origional Bees file
dfMissingStates = dfMap[dfMap.index.isin(dfBees.index)==False]
dfMissingStates

               latitude  longitude
state
Alaska          61.3850  -152.2683
Delaware        39.3498   -75.5148
New Hampshire   43.4108   -71.5653
Nevada          38.4199  -117.1219
Rhode Island    41.6772   -71.5101

In [11]:
#Combine the two datasets together
dfConcat = pd.concat([dfBees,dfMap], axis=1, join="inner")

In [12]:
#Add the missing states to the dataset
dfConcat = dfConcat.append(dfMissingStates)

In [13]:
#Adjust for missing values
dfConcatNA = dfConcat.fillna("NA")

In [14]:
dfConcatNA

,colony_n,colony_max,colony_lost,colony_lost_pct,colony_added,colony_reno,colony_reno_pct,gross_gain,net_gain,latitude,longitude
state,,,,,,,,,,,
Alabama,7900.0,8560.0,1258.076923,15.28,1079.615385,593.461538,8.304348,1673.076923,415.0,32.7990,-86.8073
Arizona,28260.0,29380.0,5088.461538,17.68,5176.538462,3115.769231,11.727273,8292.307692,3203.846154,33.7712,-111.3877
Arkansas,21580.0,22440.0,3242.307692,14.56,3063.846154,958.846154,8.05,4022.692308,780.384615,34.9513,-92.3809
California,940400.0,1193200.0,132923.076923,11.16,127346.153846,114750.0,10.96,242096.153846,109173.076923,36.1700,-119.7462
Colorado,19580.0,25300.0,3618.461538,13.96,2573.076923,1844.230769,9.294118,4417.307692,798.846154,39.0646,-105.3272
Connecticut,3516.0,3576.0,248.076923,7.2,350.769231,153.846154,5.894737,504.615385,256.538462,41.5834,-72.7622
Florida,244480.0,265200.0,33730.769231,13.44,43846.153846,26596.153846,10.96,70442.307692,36711.538462,27.8333,-81.7170
Georgia,122680.0,129200.0,16423.076923,13.24,20315.384615,17267.307692,13.958333,37582.692308,21159.615385,32.9866,-83.6487
Hawaii,15480.0,15480.0,801.153846,5.458333,1043.076923,1933.461538,15.238095,2976.538462,2175.384615,21.1098,-157.5311
Idaho,96680.0,124840.0,12230.769231,10.24,10646.153846,9201.153846,10.73913,19847.307692,7616.538462,44.2394,-114.5103
Illinois,11240.0,11660.0,1575.0,14.48,1636.153846,749.230769,7.5,2385.384615,810.384615,40.3363,-89.0022
Indiana,10092.0,10880.0,1270.384615,12.88,1436.923077,785.769231,8.75,2222.692308,952.307692,39.8647,-86.2604
Iowa,28120.0,32440.0,3203.846154,11.12,4785.0,1646.538462,7.277778,6431.538462,3227.692308,42.0046,-93.2140
Kansas,5824.0,6296.0,1165.769231,19.32,1035.0,476.153846,10.190476,1511.153846,345.384615,38.5111,-96.8005
Kentucky,7800.0,8356.0,1146.923077,14.72,1010.384615,618.846154,7.863636,1629.230769,482.307692,37.6690,-84.6514
Louisiana,49800.0,52720.0,3871.923077,7.52,4295.0,5856.153846,12.565217,10151.153846,6279.230769,31.1801,-91.8749
Maine,5360.0,11100.0,843.461538,8.52,374.615385,400.384615,4.705882,775.0,-68.461538,44.6074,-69.3977
Maryland,7400.0,8360.0,965.769231,12.08,1023.461538,440.384615,7.105263,1463.846154,498.076923,39.0724,-76.7902
Massachusetts,5784.0,7516.0,703.076923,12.2,510.384615,302.692308,4.652174,813.076923,110.0,42.2373,-71.5314
Michigan,66760.0,80160.0,8680.769231,11.56,6978.846154,4868.076923,7.45,11846.923077,3166.153846,43.3504,-84.5603
Minnesota,75840.0,99400.0,10692.307692,10.44,7892.692308,3425.769231,4.875,11318.461538,626.153846,45.7326,-93.9196
Mississippi,33460.0,42540.0,3746.153846,10.16,6208.076923,6168.846154,12.631579,12376.923077,8630.769231,32.7673,-89.6812
Missouri,9272.0,9492.0,881.153846,10.32,778.076923,439.615385,6.095238,1217.692308,336.538462,38.4623,-92.3020
Montana,77140.0,113080.0,7146.538462,6.478261,6392.692308,9126.538462,10.058824,15519.230769,8372.692308,46.9048,-110.3261
Nebraska,29740.0,40480.0,3506.153846,8.72,2753.076923,5363.461538,16.875,8116.538462,4610.384615,41.1289,-98.2883
New Jersey,11304.0,14240.0,663.461538,5.28,666.153846,516.923077,4.380952,1183.076923,519.615385,40.3140,-74.5089
New Mexico,5744.0,6288.0,1107.307692,16.92,1148.846154,464.615385,11.75,1613.461538,506.153846,34.8375,-106.2371
New York,40600.0,45440.0,4776.923077,11.2,3914.615385,2190.769231,5.571429,6105.384615,1328.461538,42.1497,-74.9384
North Carolina,20400.0,22260.0,2688.461538,12.6,2633.076923,1715.769231,8.521739,4348.846154,1660.384615,35.6411,-79.8431
North Dakota,246920.0,351160.0,28370.769231,7.333333,13853.846154,22790.384615,7.411765,36644.230769,8273.461538,47.5362,-99.7930
Ohio,17060.0,17980.0,2631.538462,15.36,2690.0,1409.615385,8.75,4099.615385,1468.076923,40.3736,-82.7755
Oklahoma,12368.0,22468.0,1475.384615,11.086957,2275.384615,1123.076923,12.176471,3398.461538,1923.076923,35.5376,-96.9247
Oregon,88080.0,104720.0,7492.307692,7.48,8558.461538,12092.692308,12.0,20651.153846,13158.846154,44.5672,-122.1269
Pennsylvania,18920.0,20540.0,2367.307692,12.28,2754.230769,1350.0,7.391304,4104.230769,1736.923077,40.5773,-77.2640
South Carolina,14020.0,15720.0,1601.153846,10.76,1682.692308,1366.538462,9.291667,3049.230769,1448.076923,33.8191,-80.9066
South Dakota,106680.0,153820.0,14492.692308,8.0,7223.076923,8378.846154,7.733333,15601.923077,1109.230769,44.2853,-99.4632
Tennessee,9880.0,10380.0,1446.153846,14.56,1270.384615,751.538462,7.625,2021.923077,575.769231,35.7449,-86.7489
Texas,206880.0,269160.0,22961.538462,8.96,45400.0,34351.153846,12.478261,79751.153846,56789.615385,31.1060,-97.6475
Utah,21460.0,26460.0,2900.769231,11.48,3683.076923,2118.461538,13.0,5801.538462,2900.769231,40.1135,-111.8535
Vermont,6500.0,6740.0,332.692308,5.541667,397.692308,103.076923,2.769231,500.769231,168.076923,44.0407,-72.7093
Virginia,7600.0,7800.0,975.769231,13.2,1145.384615,466.923077,6.541667,1612.307692,636.538462,37.7680,-78.2057
Washington,72320.0,99680.0,8388.461538,9.0,7989.230769,6067.692308,7.5,14056.923077,5668.461538,47.3917,-121.5708
West Virginia,7004.0,7608.0,871.923077,12.2,769.615385,659.230769,9.208333,1428.846154,556.923077,38.4680,-80.9696
Wisconsin,39900.0,51160.0,6000.0,12.96,4263.846154,3348.846154,7.55,7612.692308,1612.692308,44.2563,-89.6385
Wyoming,18388.0,24520.0,2401.923077,9.72,1930.384615,1641.153846,9.176471,3571.538462,1169.615385,42.7475,-107.2085
Alaska,NA,NA,NA,NA,NA,NA,NA,NA,NA,61.3850,-152.2683
Delaware,NA,NA,NA,NA,NA,NA,NA,NA,NA,39.3498,-75.5148
New Hampshire,NA,NA,NA,NA,NA,NA,NA,NA,NA,43.4108,-71.5653
Nevada,NA,NA,NA,NA,NA,NA,NA,NA,NA,38.4199,-117.1219
Rhode Island,NA,NA,NA,NA,NA,NA,NA,NA,NA,41.6772,-71.5101

In [40]:
#Add ID field 
idCsv = "https://raw.githubusercontent.com/vega/vega/master/docs/data/population_engineers_hurricanes.csv"
idDf = pd.read_csv(idCsv)
idDf=idDf[["id","state"]]
dfFinal = pd.merge(left=idDf, right=dfConcatNA, left_on='state', right_on='state')

In [47]:
dfFinal.dtypes

id                   int64
state               string
colony_n            object
colony_max          object
colony_lost         object
colony_lost_pct     object
colony_added        object
colony_reno         object
colony_reno_pct     object
gross_gain          object
net_gain            object
latitude           float64
longitude          float64
dtype: object

In [30]:
#see states that are not includeded in the colonies dataset
dfFinal[dfFinal["colony_max"]=="NA"]

,id,state,colony_n,colony_max,colony_lost,colony_lost_pct,colony_added,colony_reno,colony_reno_pct,gross_gain,net_gain,latitude,longitude
1,2,Alaska,NA,NA,NA,NA,NA,NA,NA,NA,NA,61.3850,-152.2683
7,10,Delaware,NA,NA,NA,NA,NA,NA,NA,NA,NA,39.3498,-75.5148
27,32,Nevada,NA,NA,NA,NA,NA,NA,NA,NA,NA,38.4199,-117.1219
28,33,New Hampshire,NA,NA,NA,NA,NA,NA,NA,NA,NA,43.4108,-71.5653
38,44,Rhode Island,NA,NA,NA,NA,NA,NA,NA,NA,NA,41.6772,-71.5101

In [31]:
#remove these states and Save to CSV
dfFinal = dfFinal[dfFinal["colony_max"]!="NA"]
dfFinal.to_csv("beesv3.csv")