In [48]:
#import packages
import numpy as np
import pandas as pd

# Clean the Origional Data

In [49]:
#read the data
df = pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2022/2022-01-11/colony.csv")

In [50]:
#Remove values for the United States as a whole, as it causes double counting when ploting the line chart
df = df[df["state"]!="United States"]

In [51]:
#Treat missing values for Colony renovated
#df[df["colony_reno"].isna()==True]
df["colony_added"].fillna(0, inplace=True)
df["colony_reno"].fillna(0, inplace=True)
df["colony_lost"].fillna(0, inplace=True)
df["gross_gain"] = df["colony_added"]+df["colony_reno"]
df["net_gain"] = df["gross_gain"]-df["colony_lost"]

In [52]:
df.to_csv("colonyv2.csv")

# Clean the Data for a Choropleth Map

In [53]:
#get a list of states used in the dataset
states = df["state"].unique()

In [54]:
#create additional features
df["net_gain"] = (df["colony_reno"]+df["colony_added"])-df["colony_lost"]

In [55]:
#group by operation to summeries bee columns
dfBees = df.groupby(["state"]).mean()
dfBees.drop(columns=["year"], inplace=True)

In [58]:
dfBees = dfBees.round(2)

In [59]:
# Join with Longitude and Latitude loactions
dfMap = pd.read_json("https://gist.githubusercontent.com/meiqimichelle/7727723/raw/0109432d22f28fd1a669a3fd113e41c4193dbb5d/USstates_avg_latLong")
dfMap = dfMap .set_index('state')

In [60]:
#get a list of the states missing from the origional Bees file
dfMissingStates = dfMap[dfMap.index.isin(dfBees.index)==False]
dfMissingStates

               latitude  longitude
state
Alaska          61.3850  -152.2683
Delaware        39.3498   -75.5148
New Hampshire   43.4108   -71.5653
Nevada          38.4199  -117.1219
Rhode Island    41.6772   -71.5101

In [61]:
#Combine the two datasets together
dfConcat = pd.concat([dfBees,dfMap], axis=1, join="inner")

In [62]:
#Add the missing states to the dataset
dfConcat = dfConcat.append(dfMissingStates)

In [63]:
#Adjust for missing values
dfConcatNA = dfConcat.fillna("NA")

In [64]:
dfConcatNA

,colony_n,colony_max,colony_lost,colony_lost_pct,colony_added,colony_reno,colony_reno_pct,gross_gain,net_gain,latitude,longitude
state,,,,,,,,,,,
Alabama,7900.0,8560.0,1258.08,15.28,1079.62,593.46,8.3,1673.08,415.0,32.7990,-86.8073
Arizona,28260.0,29380.0,5088.46,17.68,5176.54,3115.77,11.73,8292.31,3203.85,33.7712,-111.3877
Arkansas,21580.0,22440.0,3242.31,14.56,3063.85,958.85,8.05,4022.69,780.38,34.9513,-92.3809
California,940400.0,1193200.0,132923.08,11.16,127346.15,114750.0,10.96,242096.15,109173.08,36.1700,-119.7462
Colorado,19580.0,25300.0,3618.46,13.96,2573.08,1844.23,9.29,4417.31,798.85,39.0646,-105.3272
Connecticut,3516.0,3576.0,248.08,7.2,350.77,153.85,5.89,504.62,256.54,41.5834,-72.7622
Florida,244480.0,265200.0,33730.77,13.44,43846.15,26596.15,10.96,70442.31,36711.54,27.8333,-81.7170
Georgia,122680.0,129200.0,16423.08,13.24,20315.38,17267.31,13.96,37582.69,21159.62,32.9866,-83.6487
Hawaii,15480.0,15480.0,801.15,5.46,1043.08,1933.46,15.24,2976.54,2175.38,21.1098,-157.5311
Idaho,96680.0,124840.0,12230.77,10.24,10646.15,9201.15,10.74,19847.31,7616.54,44.2394,-114.5103
Illinois,11240.0,11660.0,1575.0,14.48,1636.15,749.23,7.5,2385.38,810.38,40.3363,-89.0022
Indiana,10092.0,10880.0,1270.38,12.88,1436.92,785.77,8.75,2222.69,952.31,39.8647,-86.2604
Iowa,28120.0,32440.0,3203.85,11.12,4785.0,1646.54,7.28,6431.54,3227.69,42.0046,-93.2140
Kansas,5824.0,6296.0,1165.77,19.32,1035.0,476.15,10.19,1511.15,345.38,38.5111,-96.8005
Kentucky,7800.0,8356.0,1146.92,14.72,1010.38,618.85,7.86,1629.23,482.31,37.6690,-84.6514
Louisiana,49800.0,52720.0,3871.92,7.52,4295.0,5856.15,12.57,10151.15,6279.23,31.1801,-91.8749
Maine,5360.0,11100.0,843.46,8.52,374.62,400.38,4.71,775.0,-68.46,44.6074,-69.3977
Maryland,7400.0,8360.0,965.77,12.08,1023.46,440.38,7.11,1463.85,498.08,39.0724,-76.7902
Massachusetts,5784.0,7516.0,703.08,12.2,510.38,302.69,4.65,813.08,110.0,42.2373,-71.5314
Michigan,66760.0,80160.0,8680.77,11.56,6978.85,4868.08,7.45,11846.92,3166.15,43.3504,-84.5603
Minnesota,75840.0,99400.0,10692.31,10.44,7892.69,3425.77,4.88,11318.46,626.15,45.7326,-93.9196
Mississippi,33460.0,42540.0,3746.15,10.16,6208.08,6168.85,12.63,12376.92,8630.77,32.7673,-89.6812
Missouri,9272.0,9492.0,881.15,10.32,778.08,439.62,6.1,1217.69,336.54,38.4623,-92.3020
Montana,77140.0,113080.0,7146.54,6.48,6392.69,9126.54,10.06,15519.23,8372.69,46.9048,-110.3261
Nebraska,29740.0,40480.0,3506.15,8.72,2753.08,5363.46,16.88,8116.54,4610.38,41.1289,-98.2883
New Jersey,11304.0,14240.0,663.46,5.28,666.15,516.92,4.38,1183.08,519.62,40.3140,-74.5089
New Mexico,5744.0,6288.0,1107.31,16.92,1148.85,464.62,11.75,1613.46,506.15,34.8375,-106.2371
New York,40600.0,45440.0,4776.92,11.2,3914.62,2190.77,5.57,6105.38,1328.46,42.1497,-74.9384
North Carolina,20400.0,22260.0,2688.46,12.6,2633.08,1715.77,8.52,4348.85,1660.38,35.6411,-79.8431
North Dakota,246920.0,351160.0,28370.77,7.33,13853.85,22790.38,7.41,36644.23,8273.46,47.5362,-99.7930
Ohio,17060.0,17980.0,2631.54,15.36,2690.0,1409.62,8.75,4099.62,1468.08,40.3736,-82.7755
Oklahoma,12368.0,22468.0,1475.38,11.09,2275.38,1123.08,12.18,3398.46,1923.08,35.5376,-96.9247
Oregon,88080.0,104720.0,7492.31,7.48,8558.46,12092.69,12.0,20651.15,13158.85,44.5672,-122.1269
Pennsylvania,18920.0,20540.0,2367.31,12.28,2754.23,1350.0,7.39,4104.23,1736.92,40.5773,-77.2640
South Carolina,14020.0,15720.0,1601.15,10.76,1682.69,1366.54,9.29,3049.23,1448.08,33.8191,-80.9066
South Dakota,106680.0,153820.0,14492.69,8.0,7223.08,8378.85,7.73,15601.92,1109.23,44.2853,-99.4632
Tennessee,9880.0,10380.0,1446.15,14.56,1270.38,751.54,7.62,2021.92,575.77,35.7449,-86.7489
Texas,206880.0,269160.0,22961.54,8.96,45400.0,34351.15,12.48,79751.15,56789.62,31.1060,-97.6475
Utah,21460.0,26460.0,2900.77,11.48,3683.08,2118.46,13.0,5801.54,2900.77,40.1135,-111.8535
Vermont,6500.0,6740.0,332.69,5.54,397.69,103.08,2.77,500.77,168.08,44.0407,-72.7093
Virginia,7600.0,7800.0,975.77,13.2,1145.38,466.92,6.54,1612.31,636.54,37.7680,-78.2057
Washington,72320.0,99680.0,8388.46,9.0,7989.23,6067.69,7.5,14056.92,5668.46,47.3917,-121.5708
West Virginia,7004.0,7608.0,871.92,12.2,769.62,659.23,9.21,1428.85,556.92,38.4680,-80.9696
Wisconsin,39900.0,51160.0,6000.0,12.96,4263.85,3348.85,7.55,7612.69,1612.69,44.2563,-89.6385
Wyoming,18388.0,24520.0,2401.92,9.72,1930.38,1641.15,9.18,3571.54,1169.62,42.7475,-107.2085
Alaska,NA,NA,NA,NA,NA,NA,NA,NA,NA,61.3850,-152.2683
Delaware,NA,NA,NA,NA,NA,NA,NA,NA,NA,39.3498,-75.5148
New Hampshire,NA,NA,NA,NA,NA,NA,NA,NA,NA,43.4108,-71.5653
Nevada,NA,NA,NA,NA,NA,NA,NA,NA,NA,38.4199,-117.1219
Rhode Island,NA,NA,NA,NA,NA,NA,NA,NA,NA,41.6772,-71.5101

In [65]:
#Add ID field 
idCsv = "https://raw.githubusercontent.com/vega/vega/master/docs/data/population_engineers_hurricanes.csv"
idDf = pd.read_csv(idCsv)
idDf=idDf[["id","state"]]
dfFinal = pd.merge(left=idDf, right=dfConcatNA, left_on='state', right_on='state')

In [66]:
dfFinal.dtypes

id                   int64
state               object
colony_n            object
colony_max          object
colony_lost         object
colony_lost_pct     object
colony_added        object
colony_reno         object
colony_reno_pct     object
gross_gain          object
net_gain            object
latitude           float64
longitude          float64
dtype: object

In [67]:
#see states that are not includeded in the colonies dataset
dfFinal[dfFinal["colony_max"]=="NA"]

,id,state,colony_n,colony_max,colony_lost,colony_lost_pct,colony_added,colony_reno,colony_reno_pct,gross_gain,net_gain,latitude,longitude
1,2,Alaska,NA,NA,NA,NA,NA,NA,NA,NA,NA,61.3850,-152.2683
7,10,Delaware,NA,NA,NA,NA,NA,NA,NA,NA,NA,39.3498,-75.5148
27,32,Nevada,NA,NA,NA,NA,NA,NA,NA,NA,NA,38.4199,-117.1219
28,33,New Hampshire,NA,NA,NA,NA,NA,NA,NA,NA,NA,43.4108,-71.5653
38,44,Rhode Island,NA,NA,NA,NA,NA,NA,NA,NA,NA,41.6772,-71.5101

In [68]:
#remove these states and Save to CSV
dfFinal = dfFinal[dfFinal["colony_max"]!="NA"]
dfFinal.to_csv("beesv3.csv")