In [1]:
idCsv = "https://raw.githubusercontent.com/vega/vega/master/docs/data/population_engineers_hurricanes.csv"

In [2]:
origionalCsv = "https://raw.githubusercontent.com/17336293/COMP40610_Information_Visualisation_Dataset/main/bees_concat.csv"

In [3]:
import pandas as pd
import numpy as np

In [18]:
idDf = pd.read_csv(idCsv)
idDf=idDf[["id","state"]]

In [19]:
idDf.head()

   id       state
0   1     Alabama
1   2      Alaska
2   4     Arizona
3   5    Arkansas
4   6  California

In [20]:
dfMain = pd.read_csv(origionalCsv)

In [21]:
dfMain.head()

,state,colony_n,colony_max,colony_lost,colony_lost_pct,colony_added,colony_reno,colony_reno_pct,net_gain,latitude,longitude
0,Alabama,7900.0,8560.0,1308.4,15.28,1122.800000,617.200000,8.304348,-691.200000,32.7990,-86.8073
1,Arizona,28260.0,29380.0,5292.0,17.68,5383.600000,3375.416667,11.727273,-1887.083333,33.7712,-111.3877
2,Arkansas,21580.0,22440.0,3372.0,14.56,3186.400000,1038.750000,8.050000,-2373.750000,34.9513,-92.3809
3,California,940400.0,1193200.0,138240.0,11.16,132440.000000,119340.000000,10.960000,-18900.000000,36.1700,-119.7462
4,Colorado,19580.0,25300.0,3763.2,13.96,2908.695652,2283.333333,9.294118,-1795.714286,39.0646,-105.3272

In [22]:
#dfFinal = pd.merge(left=dfMain, right=idCsv, left_on='state', right_on='species_id')

In [24]:
dfFinal = pd.merge(left=idDf, right=dfMain, left_on='state', right_on='state')

In [25]:
dfFinal

,id,state,colony_n,colony_max,colony_lost,colony_lost_pct,colony_added,colony_reno,colony_reno_pct,net_gain,latitude,longitude
0,1,Alabama,7900.0,8560.0,1308.4,15.280000,1122.800000,617.200000,8.304348,-691.200000,32.7990,-86.8073
1,2,Alaska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.3850,-152.2683
2,4,Arizona,28260.0,29380.0,5292.0,17.680000,5383.600000,3375.416667,11.727273,-1887.083333,33.7712,-111.3877
3,5,Arkansas,21580.0,22440.0,3372.0,14.560000,3186.400000,1038.750000,8.050000,-2373.750000,34.9513,-92.3809
4,6,California,940400.0,1193200.0,138240.0,11.160000,132440.000000,119340.000000,10.960000,-18900.000000,36.1700,-119.7462
5,8,Colorado,19580.0,25300.0,3763.2,13.960000,2908.695652,2283.333333,9.294118,-1795.714286,39.0646,-105.3272
6,9,Connecticut,3516.0,3576.0,258.0,7.200000,396.521739,181.818182,5.894737,-45.909091,41.5834,-72.7622
7,10,Delaware,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.3498,-75.5148
8,12,Florida,244480.0,265200.0,35080.0,13.440000,45600.000000,27660.000000,10.960000,-7420.000000,27.8333,-81.7170
9,13,Georgia,122680.0,129200.0,17080.0,13.240000,21128.000000,17958.000000,13.958333,878.000000,32.9866,-83.6487
10,15,Hawaii,15480.0,15480.0,833.2,5.458333,1084.800000,2094.583333,15.238095,1261.250000,21.1098,-157.5311
11,16,Idaho,96680.0,124840.0,12720.0,10.240000,11072.000000,9569.200000,10.739130,-3150.800000,44.2394,-114.5103
12,17,Illinois,11240.0,11660.0,1638.0,14.480000,1849.565217,811.666667,7.500000,-864.583333,40.3363,-89.0022
13,18,Indiana,10092.0,10880.0,1321.2,12.880000,1494.400000,928.636364,8.750000,-433.181818,39.8647,-86.2604
14,19,Iowa,28120.0,32440.0,3332.0,11.120000,5183.750000,1861.304348,7.277778,-1490.869565,42.0046,-93.2140
15,20,Kansas,5824.0,6296.0,1212.4,19.320000,1121.250000,515.833333,10.190476,-692.916667,38.5111,-96.8005
16,21,Kentucky,7800.0,8356.0,1192.8,14.720000,1050.800000,670.416667,7.863636,-401.250000,37.6690,-84.6514
17,22,Louisiana,49800.0,52720.0,4026.8,7.520000,4466.800000,6090.400000,12.565217,2063.600000,31.1801,-91.8749
18,23,Maine,5360.0,11100.0,877.2,8.520000,442.727273,520.500000,4.705882,-478.000000,44.6074,-69.3977
19,24,Maryland,7400.0,8360.0,1004.4,12.080000,1209.545455,477.083333,7.105263,-538.750000,39.0724,-76.7902
20,25,Massachusetts,5784.0,7516.0,731.2,12.200000,552.916667,327.916667,4.652174,-402.916667,42.2373,-71.5314
21,26,Michigan,66760.0,80160.0,9028.0,11.560000,7560.416667,5273.750000,7.450000,-3859.583333,43.3504,-84.5603
22,27,Minnesota,75840.0,99400.0,11120.0,10.440000,8550.416667,3872.608696,4.875000,-7475.217391,45.7326,-93.9196
23,28,Mississippi,33460.0,42540.0,3896.0,10.160000,6456.400000,6415.600000,12.631579,2519.600000,32.7673,-89.6812
24,29,Missouri,9272.0,9492.0,916.4,10.320000,809.200000,476.250000,6.095238,-390.833333,38.4623,-92.3020
25,30,Montana,77140.0,113080.0,7432.4,6.478261,7226.521739,11299.523810,10.058824,3267.142857,46.9048,-110.3261
26,31,Nebraska,29740.0,40480.0,3646.4,8.720000,3112.173913,7339.473684,16.875000,3030.526316,41.1289,-98.2883
27,32,Nevada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.4199,-117.1219
28,33,New Hampshire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.4108,-71.5653
29,34,New Jersey,11304.0,14240.0,690.0,5.280000,692.800000,584.347826,4.380952,-129.565217,40.3140,-74.5089
30,35,New Mexico,5744.0,6288.0,1151.6,16.920000,1244.583333,671.111111,11.750000,-298.333333,34.8375,-106.2371
31,36,New York,40600.0,45440.0,4968.0,11.200000,4071.200000,2373.333333,5.571429,-2551.666667,42.1497,-74.9384
32,37,North Carolina,20400.0,22260.0,2796.0,12.600000,2738.400000,1784.400000,8.521739,-1011.600000,35.6411,-79.8431
33,38,North Dakota,246920.0,351160.0,29505.6,7.333333,15660.869565,28216.666667,7.411765,-3733.809524,47.5362,-99.7930
34,39,Ohio,17060.0,17980.0,2736.8,15.360000,2797.600000,1466.000000,8.750000,-1270.800000,40.3736,-82.7755
35,40,Oklahoma,12368.0,22468.0,1534.4,11.086957,2366.400000,1460.000000,12.176471,-275.500000,35.5376,-96.9247
36,41,Oregon,88080.0,104720.0,7792.0,7.480000,8900.800000,12576.400000,12.000000,4784.400000,44.5672,-122.1269
37,42,Pennsylvania,18920.0,20540.0,2462.0,12.280000,2864.400000,1462.500000,7.391304,-831.250000,40.5773,-77.2640
38,44,Rhode Island,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.6772,-71.5101
39,45,South Carolina,14020.0,15720.0,1665.2,10.760000,1750.000000,1421.200000,9.291667,-244.000000,33.8191,-80.9066
40,46,South Dakota,106680.0,153820.0,15072.4,8.000000,9390.000000,11465.789474,7.733333,-7365.263158,44.2853,-99.4632
41,47,Tennessee,9880.0,10380.0,1504.0,14.560000,1321.200000,781.600000,7.625000,-722.400000,35.7449,-86.7489
42,48,Texas,206880.0,269160.0,23880.0,8.960000,47216.000000,35725.200000,12.478261,11845.200000,31.1060,-97.6475
43,49,Utah,21460.0,26460.0,3016.8,11.480000,3830.400000,2503.636364,13.000000,-710.909091,40.1135,-111.8535
44,50,Vermont,6500.0,6740.0,346.0,5.541667,470.000000,134.000000,2.769231,-201.000000,44.0407,-72.7093
45,51,Virginia,7600.0,7800.0,1014.8,13.200000,1240.833333,485.600000,6.541667,-529.200000,37.7680,-78.2057
46,53,Washington,72320.0,99680.0,8724.0,9.000000,8308.800000,6573.333333,7.500000,-2139.166667,47.3917,-121.5708
47,54,West Virginia,7004.0,7608.0,906.8,12.200000,833.750000,685.600000,9.208333,-221.200000,38.4680,-80.9696
48,55,Wisconsin,39900.0,51160.0,6240.0,12.960000,4434.400000,3627.916667,7.550000,-2751.250000,44.2563,-89.6385
49,56,Wyoming,18388.0,24520.0,2498.0,9.720000,2182.173913,2370.555556,9.176471,-509.444444,42.7475,-107.2085

In [26]:
dfFinal.to_csv("beesv2.csv")